body{
  background-color: #FAFAFA;
}

h1{
  top: 312px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #000000;
}

h2{
  top: 298px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.5px;
  color: #9B9B9B;
  margin-top: 21px;
  margin-bottom: -10px;
}

p{
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #4A4A4A;
}

a{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */


  color: #F55423;
  text-decoration: none;
}

.card{
  margin: auto;
  margin-top: 30%;
  background-color: #FFFFFF;
  width: 270px;
  height: 380px;
  border: 1px solid #E1E2E3;
  box-sizing: border-box;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.154693);
  border-radius: 3px;
}
.cardImg{
  height: 150px;
  background-image: url(https://image.shutterstock.com/image-illustration/concept-abstract-quantum-computer-3d-600w-707534518.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 3px solid #F55423;
}

.copy{
  margin-left: 25px;
  margin-right: 29px;
}

.material-icons{
  font-size: 7.35px;
}
