body{
  background-color: #F7F5F2;
  margin: 0px;
}
.heading{
  padding-left: 250px;
  margin-top: 50px;
  color: #3A3B3C;
}
.credera-nav{
  padding: 20px;
  width: 100%;
  background-color: white;
  padding-left: 250px;
  position: fixed;
}
.credera-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  padding-right: 350px;
}
.credera-nav li{
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Open sans;
  font-size: 14px;
}

.credera-nav a.active{
  color:#F55423;
  font-weight: 800;
}

.credera-nav a:hover{
  color:#F55423;
}

.logo{
  background-image: url("https://ms-f7-sites-01-cdn.azureedge.net/docs/stories/780692-microsoft-office-credera-united-states/resources/c587940a-cfb7-40d9-9d44-76cd5185217c/1199112613928376984_1199112613928376984");
  padding: 20px;
  width: 100px;
  float: left;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 130%;
}
.credera{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  margin-top: -20px;
}
.masthead{
  width: 50%;
  margin: 0px auto 0px 250px;
  border: red 4px red;
}
.masthead h1,h2,p{
  color: white;
}

.masthead h1{
  font-size: 42px;
}

.masthead h2{
  padding-top: 25%;
}

button{
  background-color: #F55423;
  padding: 15px 20px;
  border: none;
  color: white;
}

.masthead p{
  font-size: 24px;
  padding-bottom: 32px;
}

.copy h1{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 0px;
}

.copy h2{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #9B9B9B;
  margin: 0px;
}

.copy p{
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #4A4A4A;
  margin-top: 15px 0px 7px 0px;
}

.copy a{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #F55423;
  text-decoration: none;
}

.card{
  margin: 0 auto 15% auto;
  background-color: #FFFFFF;
  width: 270px;
  height: 380px;
  border: 1px solid #E1E2E3;
  box-sizing: border-box;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.154693);
  border-radius: 3px;
}

.card:hover{
  background-color: #DBEBf2;
  transition: .5s;
}

.cardImg{
  height: 154px;
  background-image: url(https://image.shutterstock.com/image-illustration/concept-abstract-quantum-computer-3d-600w-707534518.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 3px solid #F55423;
}

.cardImg:hover{
  transition: .5s;
  background-size: 110%;
}

.copy{
  margin: 21px 29px 27px 25px;
}

.material-icons{
  font-size: 7.35px;
}


.navbar {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  padding-top: 15%;
}

.navbar a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  font-size: 101%;
  transition: 1s;
}

.navbar a.active {
  color:#F55423;
  font-weight: 800;
}

.navbar .icon {
  display: none;
}

.container{
  width: 50%;
  margin-left: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
